.about-project {
  margin: 90px 24px 500px;
}

.about-project__title {
  margin: 0;
  font-family: 'Grtsk-Tera', 'Arial', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.04em;
  height: 50px;
  border-bottom: 1px solid #000;
  text-transform: uppercase;
}

.about-project__info {
  margin: 0;
  margin-top: 48px;
  display: block;
  list-style-type: none;
  padding-left: 30px;
  position: relative;
}

.about-project__text {
  margin: 0;
  padding: 0;
  list-style-type: square;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.01em;
}

/* .about-project__back {
  position: absolute;
  top: -20px;
  right: 0;
  z-index: -1;
  background-color: #FFF;
  background-image: url(../../../ui/images/About-proj.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  margin: 0 auto;
  height: 600px;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */
