.modules {
  padding: 90px 24px 300px;
  /* background-color: #F5F4F2 */
}

.modules__heading {
  margin: 0;
  font-family: 'Grtsk-Tera', 'Arial', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.04em;
  height: 50px;
  border-bottom: 1px solid #000;
  margin-bottom: 48px;  
  text-transform: uppercase;
}

.modules__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 240px;
}

.modules__items {
  margin: 0;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: start;
  border: 1px solid #424242;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
}

.modules__item-heading {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  font-family: 'Grtsk-Tera', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;

}

.modules__item-text {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
}



